<div data-bsi-element="news-snippets" data-bsi-element-part="news-snippets" class="news-snippets"> 
 <div data-bsi-news-snippet class="news-snippet"> 
  <img class="ns-image" src="{{designBaseUrl}}/img/news-image.png" data-bsi-property="image"> <!-- will be wrapped in an A element if NS item has a link --> 
  <h3 class="ns-title" data-bsi-property="title">Breaking News</h3> <!-- will be wrapped in an A element if NS item has a link --> 
  <p class="ns-headline" data-bsi-property="headline">Alien Life May Exist on Exoplanet Moons</p> 
  <p class="ns-text" data-bsi-property="text">Lorem ipsum dolor sit amet, ea vis odio voluptua, pri ei facer denique. Nobis minimum lucilius cum ei, at mel everti vocibus. Mea vide vidit option ut, placerat instructior eu mei, ei dolor tation latine mea.</p> 
 </div> 
</div>