<div data-bsi-element="qr-code" class="qr-code"> 
 <img src="<QR Code>" class="image" data-bsi-element-part="image" data-bsi-placeholder="{{designBaseUrl}}/img/qr-code.png" data-bsi-dynamic-src="true"> 
</div>