<div data-bsi-element="video-thumbnail" data-bsi-element-part="video" class="video-container"> 
 <img src="{{designBaseUrl}}/img/news-image.png" width="560" height="315" data-bsi-video-thumbnail=""> 
</div>