<div data-bsi-element="video-thumbnail" data-bsi-element-part="video" class="video-container">
  <a href="" data-bsi-video-link="" target="_blank">
    <img src="{{designBaseUrl}}/img/news-image.png" width="233" height="194" data-bsi-video-thumbnail="">
  </a>
</div>