<div data-bsi-element="bullet-list" class="bullet-list"> 
 <p>{{bsi.nls "enumeration"}}</p> 
 <ul data-bsi-element-part="iterator" data-bsi-iterator=""> 
  <li data-bsi-iterator-item="" data-bsi-element-part="formatted-text"></li> 
 </ul> 
</div>