<div data-bsi-element="srcset-image" class="srcset-image">
 <img src="{{designBaseUrl}}/img/cute-kitty-500.jpg"
      srcset="{{designBaseUrl}}/img/cute-kitty-150.jpg 150w,
             {{designBaseUrl}}/img/cute-kitty-300.jpg 300w,
             {{designBaseUrl}}/img/cute-kitty-500.jpg 500w"
      sizes="(max-width: 500px) 150px,
             (max-width: 750px) 300px,
             500px"
      data-bsi-element-part="image">
</div>