<div data-bsi-element="srcset-image" class="srcset-image">
 <img src="{{designBaseUrl}}/img/cute-kitty-500.jpg"
      srcset="{{designBaseUrl}}/img/cute-kitty-500.jpg 1024w,
              {{designBaseUrl}}/img/cute-kitty-300.jpg 780w,
              {{designBaseUrl}}/img/cute-kitty-150.jpg 450w" data-bsi-element-part="image">
</div>