<div data-bsi-element="text-with-image" class="text-with-image"> 
 <img src="{{designBaseUrl}}/img/cute-kitty.jpg" class="image" data-bsi-element-part="image"> 
 <div class="text" data-bsi-element-part="formatted-text">
  {{bsi.nls "image.caption_"}}
 </div> 
</div>