<form class="form two-column-form" data-bsi-element="two-column-form" data-bsi-element-part="form"> 
 <div class="form-validation" data-bsi-form-validation> 
  <div class="form-validation-item" data-bsi-form-validation-item></div> 
 </div> 
 <div class="form-column-left form-content" data-bsi-dropzone="form-column-left" data-bsi-dropzone-allowed-elements="form-field form-checkbox form-textarea form-select form-radio"></div> 
 <div class="form-column-right form-content" data-bsi-dropzone="form-column-right" data-bsi-dropzone-allowed-elements="form-field form-checkbox form-textarea form-select form-radio"></div> 
 <div class="form-button-bar"> 
  <div class="form-button-container submit"> 
   <input type="submit" class="form-button send" value="{{bsi.nls "send"}}"> 
  </div> 
  <div class="form-button-container reset"> 
   <input type="reset" class="form-button reset" value="{{bsi.nls "reset"}}"> 
  </div> 
 </div> 
</form>